/* 3D Button Animation */
.button-3d {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
}

.button-3d.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), 
              background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button-3d.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), 
              box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button-3d.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

.button-3d.learn-more:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

.button-3d.learn-more:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

.button-3d.learn-more:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

/* Custom button colors */
.button-3d.primary {
  color: #ffffff;
  background: #ee432c;
  border-color: #ffb375;
}

.button-3d.primary::before {
  background: #d93d29;
  box-shadow: 0 0 0 2px #ffb375, 0 0.625em 0 0 #ffd7b5;
}

.button-3d.primary:hover {
  background: #f04a35;
}

.button-3d.secondary {
  color: #382b22;
  background: #ffb375;
  border-color: #ee432c;
}

.button-3d.secondary::before {
  background: #ffa05e;
  box-shadow: 0 0 0 2px #ee432c, 0 0.625em 0 0 #ffd7b5;
}

.button-3d.secondary:hover {
  background: #ffbc86;
}